/* Root Color Variables */
:root {
    --color-amarillo: #FAEC21;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
    --color-gris: #CCCCCC;
    --color-fucsia: #E62377;
    --color-e7e7e7: #e7e7e7;
}

/* Import font from Google Fonts or another source if needed */
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova:400,700,400italic,700italic');

/* General Styles */
body {
    font-family: 'Proxima Nova', sans-serif; /* SHIFT's font */
    background-color: var(--color-blanco); /* SHIFT's white color */
    color: var(--color-negro); /* SHIFT's black color for text */
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%; /* Adjusted for report layout */
    margin: auto;
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Header Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Axia', sans-serif; /* SHIFT's font for headings */
    color: var(--color-fucsia); /* Consistent color for all headings */
}

/* Additional styles for specific headings can be defined here */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Button Styles */
button {
    display: inline-block;
    background: var(--color-amarillo); /* SHIFT's yellow for primary button */
    color: var(--color-negro); /* SHIFT's black for button text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background: var(--color-gris); /* SHIFT's grey for hover state */
}

/* Divs and Sections */
#countResult, #learningParticipation, #networkingOpportunities, #newConnections, #brandExposure, #membershipRecommendations {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-e7e7e7); /* A lighter grey for background */
    border-radius: 5px;
}

/* Back Button */
.back-button {
    background-color: var(--color-fucsia); /* SHIFT's fucsia for back button */
}

.back-button:hover {
    background-color: var(--color-gris); /* SHIFT's grey for hover state */
}

/* Paragraphs and Lists */
p, li {
    color: var(--color-negro);
    line-height: 1.5;
}

/* Additional styles for tables, lists, graphs, etc., can be added here */